<section id="lista-corrida">
    <h2>Lista Corridas</h2>

    @for(elem of listaCorrida();track elem.id){
        <div class="Corrida">
        <span class="dados-corrida">
            {{elem.id}} - {{elem.descricao}} - {{elem.distancia}} - {{elem.data}}
        </span>
        <span class="span-link-corridas">
            <a class="link-corridas lnk-alterar" (click) = "carregaDadosCorrida(elem)">A</a>
            <a class="link-corridas lnk-excluir" (click) = "excluir(elem.id)">E</a>
        </span>
    </div>
    }@empty{
        <div class="div-corrida">
            Nenhuma Corrida Registrada
        </div>
    }
</section>