<section id="lista-corrida">
    <h2>Lista Corridas</h2>
  
    @for (elem of listaCorrida(); track elem.id) {
      <div class="Corrida">
        <span class="dados-corrida">
          <strong>#{{ elem.id }}</strong> - {{ elem.descricao }} - {{ elem.data }} 
          
          <small>
            (Distâncias: 
            @if (elem.distancia5) { <span>5km </span> }
            @if (elem.distancia10) { <span>10km </span> }
            @if (elem.distancia25) { <span>25km </span> }
            @if (!elem.distancia5 && !elem.distancia10 && !elem.distancia25) { Nenhuma }
            )
          </small>
        </span>
  
          <button type="button" class="link-corridas lnk-alterar" (click)="carregaDadosCorrida(elem)" title="Alterar">
            A
          </button>
          <button type="button" class="link-corridas lnk-excluir" (click)="excluir(elem.id)" title="Excluir">
            E
          </button>
      </div>
    } @empty {
      <div class="div-corrida">
        Nenhuma Corrida Registrada
      </div>
    }
  </section>